body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #1E90FF;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
    margin-left: 13px;
}

h3 {
    color: #333;
    margin-bottom: 5px;
    margin-left: 13px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    margin-left: 23px;
}

li::before {
    content: '\2022'; /* Add a dot before each list item */
    color: #1E90FF;
    margin-right: 10px; /* Increased the margin to separate the dot from the text */
    font-size: 20px;
}

p {
    margin: 25px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a.back-button {
    display: block;
    text-decoration: none;
    color: #1E90FF;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}


.results-container {
    display: flex; /* Use flexbox to make the lists appear side by side */
}

h3.openai_resp {
    color: #333;
    margin-bottom: -16px;
    margin-left: 28px;
}